<template>
<div>
  <v-card>
    <v-card-title>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="desserts"
      :search="search"
    >
    <template v-slot:[`item.detalles`]="{ item }">
      <v-btn v-if="!item.estado"
      @click="showDetalles(item)">
        Mostrar Detalles
      </v-btn>
      <h2 v-else>Entregado</h2>
    </template>
  </v-data-table>
  </v-card>

  <v-dialog
      v-model="dialog"
      max-width="290"
    >
      <v-card>
        <v-card-title class="text-h5">
          Productos
        </v-card-title>

        <v-card-text>
            <v-simple-table dense>
    <template v-slot:default>
      <thead>
        <tr>
          <th class="text-left">
            Name
          </th>
          <th class="text-left">
            Cantidad
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="item in productos"
          :key="item.id"
        >
          <td>{{ item.nombre }}</td>
          <td>{{ item.cantidad }}</td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="green darken-1"
            text
            @click="cambiarEstado(true)"
          >
            Aceptar
          </v-btn>

          <v-btn
            color="green darken-1"
            text
            @click="cambiarEstado(false)"
          >
            Declinar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

</div>
</template>

<script>
import axios from "axios"
  export default {
    data () {
      return {
        dialog: false,
        search: '',
        headers: [
          {
            text: 'ID',
            align: 'start',
            filterable: false,
            sortable: false,
            value: 'id',
          },
          { text: 'Rut', value: 'rut' },
          { text: 'Proveedor', value: 'proveedor.nombre' },
          { text: 'Detalles', value: 'detalles'}
        ],
        desserts: [],
        productos: [],
        id: ''
      }
    },
    mounted(){
        this.actualizar()
    },
    methods:{
      showDetalles(item){
        this.dialog = true;
        this.productos = item.productos;
        this.id = item.id
        console.log(item.productos)
      },
      cambiarEstado(opcion){
        let url = "https://ufrpharmacyexamen-api.herokuapp.com/recepcion/"+this.id;
        if(opcion){
          axios.get(url).then(response => {
            console.log(url + response.data)
            this.actualizar();
          })
        }

        this.dialog = false
      },
      actualizar(){
        let url = "https://ufrpharmacyexamen-api.herokuapp.com/recepcion/"
        axios.get(url).then(response =>{
            this.desserts = response.data;
            console.log(this.desserts)
        })
      }
    }
  }
</script>

<style>

</style>
