<template>
  <v-form
    ref="form"
    v-model="valid"
    lazy-validation
  >
    <v-text-field
      v-model="nombre"
      label="Name"
      required
    ></v-text-field>

    <v-text-field
      v-model="pActivo"
      label="P Activo"
      required
    ></v-text-field>
    
    <v-text-field
      v-model="fFarmaceutica"
      label="F Farmaceutica"
      required
    ></v-text-field>

    <v-text-field
      v-model="presentacion"
      label="Presentacion"
      required
    ></v-text-field>

    <input type="date" v-model="fechaVencimiento"/>

    <v-text-field
      v-model="lote"
      label="Lote"
      required
    ></v-text-field>

    <v-text-field
      v-model="proveedor"
      label="proveedor"
      required
    ></v-text-field>

    <v-text-field
      v-model="precioUnitario"
      label="Precio Unitario"
      required
    ></v-text-field>

    <v-text-field
      v-model="cantidad"
      label="Cantidad"
      required
    ></v-text-field>


    <v-btn
      :disabled="!valid"
      color="success"
      class="mr-4"
      @click="crearProducto()"
    >
      Crear
    </v-btn>

    <v-btn
      color="error"
      class="mr-4"
      @click="reset"
    >
      Reset Form
    </v-btn>

  </v-form>
</template>


<script>
import axios from 'axios'

  export default {
    data: () => ({
      valid: true,
      fechaVencimiento: '',
      nombre: '',
      pActivo: '',
      fFarmaceutica: '',
      presentacion: '',
      lote:'',
      proveedor:'',
      fechaRecepcion:null,
      precioUnitario:'',
      cantidad:''

    }),

    methods: {
      reset () {
        this.$refs.form.reset()
      },
      crearProducto(){
        let url = "https://ufrpharmacyexamen-api.herokuapp.com/recepcion/guardarProducto"
        axios.post(url,
        {
            "id":null,
            "nombre":this.nombre,
            "pactivo":this.pActivo,
            "ffarmaceutica":this.fFarmaceutica,
            "presentacion":this.presentacion,
            "lote":this.lote,
            "proveedor":this.proveedor,
            "fechaVencimiento":this.fechaVencimiento,
            "fecharecepcion":null,
            "preciounitario":this.precioUnitario,
            "cantidad":this.cantidad
        }).then(response => {
            console.log(response.data)
        })
      }
    },
  }
</script>

<style>
</style>